---
title: 'Tobitate! Study Abroad JAPAN" Effectiveness Verification'
---

> [makiko_nakamuro](https://twitter.com/makiko_nakamuro/status/1698169672917717083) A new paper has been accepted! It is a verification of the effectiveness of MEXT's "[Tobitate! Study Abroad in Japan" by the Ministry of Education, Culture, Sports, Science and Technology (MEXT). It is said that [[EBPM]] in Japan is lagging behind, but in this case, researchers were involved from the beginning of the project and were in charge of designing and analyzing the effectiveness verification. It is co-authored with an applied linguist as well as Professor Hiroki Higuchi of Sophia University.
[Impact of studying abroad on language skill development: Regression discontinuity evidence from Japanese university students - ScienceDirect](https://www.sciencedirect.com/science/article/pii/S0889158323000394)

---
This page is auto-translated from [/nishio/「トビタテ！留学JAPAN」の効果検証](https://scrapbox.io/nishio/「トビタテ！留学JAPAN」の効果検証) using DeepL. If you looks something interesting but the auto-translated English is not good enough to understand it, feel free to let me know at [@nishio_en](https://twitter.com/nishio_en). I'm very happy to spread my thought to non-Japanese readers.