---
title: "Understanding and Verification"
---

There was an implicit assumption in the expression "[[Verification of understanding]]" that there must first be "[[understanding]]" and then "[[verification]]".

In "[[Not confident, but high grades.]]" we saw that those who tested were less confident in their understanding than those who did not test, but their actual percentage of correct answers was higher (i.e., their results were better)

Understanding" ahead is only "[[a]] feeling of understanding," which often does not lead to results
- On the other hand, it was pointed out that "[[decoupling of understanding and results]]" leads to "[[results]]" without "[[a sense of understanding]]".

Solving a real-world problem and getting results may be a validation of the correctness of it.


impetus
- prev:  [[Fixes you don't understand]]
- [/villagepump/2025/03/07#67cabb83774b170000889395](https://scrapbox.io/villagepump/2025/03/07#67cabb83774b170000889395)

---
This page is auto-translated from [/nishio/理解と検証](https://scrapbox.io/nishio/理解と検証) using DeepL. If you looks something interesting but the auto-translated English is not good enough to understand it, feel free to let me know at [@nishio_en](https://twitter.com/nishio_en). I'm very happy to spread my thought to non-Japanese readers.